@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble {
  @apply p-4 rounded-lg max-w-xs relative border-4 text-black;
}

.bubble-right {
  @apply self-end mr-16 border-blue-500;
}

.bubble-left {
  @apply border-green-500 self-start ml-16 mt-2;
}

/* Custom styles for react-select */
.react-select__control {
  @apply bg-transparent border-none shadow-none;
}

.react-select__menu {
  @apply z-10;
}

/* Animations */

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

/* Scale Up Animation */
@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.animate-scale-up {
  animation: scaleUp 0.3s ease-in-out forwards;
}
